.video-select {
  border-radius: 4px;
  border: 1px solid #aaaaaa;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.video-select:hover {
  border-color: #1a1a1a;
}

.video-select:focus,
.video-select:focus-visible {
  border: 1px solid #aaaaaa;
}
