.screen-area {
  margin-top: 1em;
  position: relative;
  height: 60vh;
  min-height: 212px;
  min-width: 350px;
}

.video-screen {
  display: flex;
  height: 100%;
}

.detector-screen {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 100, 100, 0);
  display: flow;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video-control {
  display: flex;
  align-items: center;
  margin-top: 1px;
  padding: 0;
  gap: 0.5em;
  outline: 1px solid #ccc;
}

.video-slider {
  flex-grow: 1;
}
.video-slider:hover {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><circle cx="6" cy="6" r="6" fill="blue"></circle></svg>')
      6 6,
    auto;
}
/* cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><rect x="0" y="0" width="30" height="30" fill="red" /></svg>'), */

.video-time {
  width: 50px;
}

.play-button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #1a1a1a;
  border: 1px solid transparent;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
  background-image: linear-gradient(45deg, #1a1a1a 50%, transparent 50%),
    linear-gradient(135deg, #1a1a1a 50%, transparent 50%);
  background-position: 50% calc(1.25em - 10px), 50% 1.25em;
  background-size: 10px 10px, 10px 10px;
  background-repeat: no-repeat;
}

.play-button.playing {
  background-image: linear-gradient(to right, #1a1a1a, #1a1a1a),
    linear-gradient(to right, #1a1a1a, #1a1a1a);
  background-position: calc(50% - 5px) calc(1.25em - 10px),
    calc(50% + 5px) calc(1.25em - 10px);
  background-size: 5px 20px, 5px 20px;
  background-repeat: no-repeat;
}

.play-button:hover {
  border: 1px solid #1a1a1a;
  /* outline: 1px solid #1a1a1a; */
}
.play-button:disabled {
  color: #bbb;
}

.play-button:disabled:hover {
  border: 0;
}
